img.center
{
    display: block;
    margin: 0 auto;
}

.pokemonImageCenter
{
    width:50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.container 
{
    width: 90%;
    margin: 0 auto;
}

header 
{
    background: #5CDB95;
    border:2px solid black;
}

header::after
{
    content: '';
    display: table;
    clear: both;
}

html, body
{
    background: #EDF5E1;
}

.paragraph
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top:20px;
}

.navLogo
{
    float: left;
    height:20px;
    width: auto;
    padding-top: 25px;
    
}

nav
{
    float: right;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li
{
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;
    padding-right: 20px;
    position: relative;
}

nav a
{
    color: #05386B;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Lato', sans-serif;

}

nav a::before
{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #05386B;
    position:relative;
    top:0;
    width:0%;
    transition: all ease-in-out 300ms;
}

nav a:hover::before
{
    width:100%;
}

nav a:hover
{
    color:white;
}

.logo
{
    background-color: indigo;
}

.table
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top:20px;
    margin-left: auto;
    margin-right: auto;
 
}

.infoTable
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-top:20px;
    margin-left: auto;
    margin-right: auto;
 
}

.tableImage
{
    width: 20%;
    height: auto;
}

a
{
    text-decoration: none;
    text-transform: uppercase;
    color: #379683
}

a:hover
{
    color:#8EE4AF;
}
.descriptionParagraph
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-top: 150px;
    padding-left: 30px;
}

.statsParagraph
{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-align: left;
    padding-left: 90px;
}

.statsTable
{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top:0px;
    padding-left:30px;
    margin-left: 0px;
    margin-right: auto;
    border-spacing: 60px 15px;
    
}

.abilitiesTable
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-top:0px;
    padding-left:30px;
    margin-left: 0px;
    margin-right: auto;
    border-spacing: 60px 15px;
    
}

.buildsTable
{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 0px;
    padding-left:10px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px 10px;
}

.buildsTableImage
{
    height:100px;
    width:auto;
    display: block;
    margin: 0 auto;
}

.tierListTable
{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top:0px;
    padding-left:30px;
    margin-left: 0px;
    margin-right: auto;
    border-spacing: 60px 15px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.tableRow
{
    border-top: 5px solid black;
    border-bottom:5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    background:#05386B;
    color:#EDF5E1;
}

.coolDownTable
{
    padding-left:100px;
    text-align:right;
}

.tierListLetters
{
    background:#379683;
    padding-right: 50px;
    padding-left: 50px;
}

.tierListS
{
    background:#ff7f7f;
    padding-right: 50px;
    padding-left: 50px;
    color: #05386B;
}

.tierListA
{
    background:#ffbf7f;
    padding-right: 50px;
    padding-left: 50px;
    color: #05386B;
}

.tierListB
{
    background:#ffff7f;
    padding-right: 50px;
    padding-left: 50px;
    color: #05386B;
}

.tierListC
{
    background:#bfff7f;
    padding-right: 50px;
    padding-left: 50px;
    color: #05386B;
}

.tierListD
{
    background:#7fff7f;
    padding-right: 50px;
    padding-left: 50px;
    color: #05386B;
}

.itemsTable
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-top:0px;
    padding-left:30px;
    padding-right:300px;
    margin-left: 0px;
    margin-right: auto;
    border-spacing: 60px 15px;
    border-collapse: collapse;
}

.battleItemsTable
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-top:0px;
    padding-left:30px;
    padding-right:300px;
    border-spacing: 60px 15px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.itemsRow
{
    border-bottom:5px solid black;
    width:100%;
}

.itemsElement
{
    padding-right:30px;
    padding-left:30px;
    text-align:center;
}

.line-1 
{
    height: 3px;
    background:black;

}

.line-2 
{
    height: 3px;
    background:black;
    position:relative;
    top:15px;

}

.line-3 
{
    height: 5px;
    background:black;

}

.footer
{
    background: #303036;
    color:#d3d3d3;
    height:400px;
    position: relative;
}

.footer .footer-content 
{
    border: 1px solid red;
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section
{
    flex: 1;
    padding: 25px;
    border: 1px solid white;
}

.footer .footer-bottom
{
    background:#343a40;
    color:#686868;
    height:50px;
    width:100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

.backArrow
{
    height: 20px;
    width: auto;
    padding-bottom: 280px;
}

/* Style the tab */
.tab 
{
    overflow: hidden;
    border: 2px solid black;
    border-top:0px;
    background-color: #8EE4AF;
}
  
  /* Style the buttons that are used to open the tab content */
  .tab button 
  {
    font-family: 'Lato', sans-serif;
    color: #05386B;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover 
  {
    font-family: 'Lato', sans-serif;
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active 
  {
    background-color: #05386B;
    color: white
  }
  
  /* Style the tab content */
  .tabcontent 
  {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }

  /* Dropdown Button */
.dropbtn {
    background-color: #8EE4AF;
    font-family: 'Lato', sans-serif;
    color: 05386B;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-left:3px solid black;
    border-right:3px solid black;
    border-top:3px solid black;
    border-bottom:3px solid black;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown 
  {
    position: absolute;
    display: inline-block;
    top:100;
    right:10;
    }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #5CDB95;}